build
autom4te.cache
config.log
config.status
configure
scripts/mk_exception.pyc
scripts/mk_project.pyc
scripts/mk_util.pyc
src/api/python/z3core.py
src/api/python/z3core.pyc
src/api/dll/install_tactic.cpp
src/api/staticlib/install_tactic.cpp
src/shell/install_tactic.cpp
src/test/install_tactic.cpp
install/*